.box {
  background-color: antiquewhite;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
.clickable {
  cursor: pointer;
  color: #a9c2ae;
}
#start-reset {
  border-radius: 20px;
  color: #a9c2ae;
}
