.box {
  background-color: antiquewhite;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
.clickable {
  cursor: pointer;
  color: #a9c2ae;
}
.button {
  border-radius: 20px;
<<<<<<< HEAD
  color: #0d3d17;
}
.bg-success {
  background-color: #0d3d17 !important;

=======
>>>>>>> 19867b0530f034d9e957c6f2445d092940dfac61
}
