.box {
  background-color: antiquewhite;
  height: 345px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
}
.clickable {
  cursor: pointer;
  color: #a9c2ae;
}
.button {
  border-radius: 20px;
  color: #0d3d17;
}
.bg-success {
  background-color: #0d3d17 !important;
}
body {
  background-color: #dee0c9 !important;
}

#header {
  color: antiquewhite;
}
#container {
  display: flex;

  justify-content: space-between;
  gap: 20px;
}
#container1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
